{% extends "base.html" %}
{% load static %}
{% block title %}
    New Meeting
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'meetings/create.css' %}">
{% endblock %}

{% block content %}
    <h1>Plan a new meeting</h1>
    <form method="post">
        <fieldset>
            <legend>Create meeting details</legend>
            <table>
                {{ form }}
            </table>
            {% csrf_token %}
            <button class="button" type="submit">Create</button>
        </fieldset>
    </form>
{% endblock %}

{% block footer %}
    <div>
        <a href="{% url "home" %}">Back Home</a>
    </div>
{% endblock %}
