{% extends "base.html" %}
{% load static %}
{% block title %}
    Meeting: {{ meeting.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'meetings/detail.css' %}">
{% endblock %}

{% block content %}
    <details>
        <summary>{{ meeting.title }} details</summary>
        <dl>
            <dt><strong>Date: </strong>{{ meeting.date }}</dt>
            <dd><strong>Time: </strong>{{ meeting.start_time }}</dd>
            <dd><strong>Duration: </strong>{{ meeting.duration }} minutes</dd>
            <dt><strong>Room: </strong>{{ meeting.room }}</dt>
        </dl>
    </details>
{% endblock %}

{% block footer %}
    <div>
        <a href="{% url "home" %}">Back Home</a>
    </div>
{% endblock %}
