<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting: {{ meeting.title }}</title>
    <link rel="stylesheet" href="/static/website/style.css">
    <link rel="stylesheet" href="detail.css">
</head>
<body>
<h1>{{ meeting.title }}</h1>
<div>
    <a href="{% url "home" %}">Back Home</a>
</div>

<details>
    <summary>{{ meeting.title }} details</summary>
    <dl>
        <dt><strong>Date: </strong>{{ meeting.date }}</dt>
        <dd><strong>Time: </strong>{{ meeting.start_time }}</dd>
        <dd><strong>Duration: </strong>{{ meeting.duration }} minutes</dd>
        <dt><strong>Room: </strong>{{ meeting.room }}</dt>
    </dl>
</details>

</body>
</html>