.button {
    background-color: green;
    font-size: 12px;
    border: green solid 1px;
    color: white;
    padding: 5px 12px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover {
    background-color: white;
    color: black;
}

fieldset {
    background-color: white;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0.35em 0.75em 0.625em;
    border: 2px groove (internal value);
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

fieldset label {
    text-align: right;
    float: left;
    width: 10em;
    margin-right: 1em;
}
