body {
    font-family: Verdana;
    color: chocolate;
    background-color: ghostwhite;
    display: block;
    margin: 8px;
}

.calendar {
   width: 40%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}