<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to DJANGO basics</title>
</head>
<body>
    <h1>Welcome to the Meeting Planner!</h1>
    {# <a href="/about">About this ...</a>#}
    <a href="{% url 'about' %}">About this</a>
    <p>
        This is the demo application to get familiar with <em>Django</em>: <strong>getting started</strong>
        and can be found in way more detail on <a href="https://www.pluralsight.com">Pluralsight</a>
    </p>
    <p>{{ message }}</p>
    <p>There are currently {{ meetings_count }} meetings in the database</p>
    <h2>Meetings</h2>
    <ol>
        {% for meeting in meetings %}
            <li>
                {# Anti pattern for urls but this is an intuitive way of doing urls but will be painful if routing changes #}
                {# <a href="/meetings/{{meeting.id}}"> #}
                <a href="{% url 'detail' meeting.id %}">
                    {{ meeting.title }}
                </a>
            </li>
        {% endfor %}
    </ol>
    <h2>Rooms</h2>
    <p>There are currently {{ rooms_count }} <strong>rooms</strong> in the database. <a href="{% url 'rooms' %}">View all rooms</a></p>
</body>
</html>